<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/global/fonts.css">
    <link rel="stylesheet" href="../css/global/base.css">

    <link rel="stylesheet" href="../css/atoms/headers-labels.css">
    <link rel="stylesheet" href="../css/atoms/button.css">
    <link rel="stylesheet" href="../css/atoms/work-card.css">

    <link rel="stylesheet" href="../css/components/nav.css">
    <link rel="stylesheet" href="../css/components/mini-profile.css">


    <link rel="stylesheet" href="../css/blocks/hero.css">
    <link rel="stylesheet" href="../css/blocks/content.css">
    <link rel="stylesheet" href="../css/blocks/showcase.css">


    <title>Document</title>
</head>
<body>

    <div class="profile-description">
        <img src="../assets/images/profile1.jpg" alt="">
        <h5>Lea Salomon</h5>
        <p class="properties-16-26 reset-me">UI Designer</p>

        <div class="socials">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class='fas fa-basketball-ball fa-2x' style='color:#ffffff'></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
    
</body>
</html>