.profile-description {
    flex-wrap: wrap;
    /* max-width: 161px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 183px;
}  

.profile-description > div {
    width: 100%;
}  

.profile-description > div > div {
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-description img {
    border-radius: 50%;
    width: 100px;  

}

.profile-description h5 {
    padding-top: 15px;
    font-weight: 400;
}

.profile-description p {
    margin-top: 8.2px;
    margin-bottom: 20px;
}

.socials {
    width: fit-content;
}

.socials i {
    font-size: 17px;
    margin-right: 20px;
}

/* .profile-description:nth-child(5) {
    margin-left: 25px;
    margin-right: -25px;
} */

/* .profile-description:last-child {
    margin-left: 0;
} */

@media (max-width: 550px) {
    .profile-description img {
        margin: 0 auto;
    }
}