.nav-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nav-container button {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.nav-container button:nth-child(1) {
    opacity: 30%;
}



@media (max-width: 550px) {
    .nav-container > button {
        visibility: hidden;
        opacity: 0;
    }

    .burger {
        display: block;
    }
}