.team {
    background: rgba(47, 24, 147, 1);
}

.team-container {
    padding: 100px 115px;
    margin: 0 auto;
}

.team-intro {
    max-width: 800px;
}

.team-intro h5 {
    margin-top: 31px;
    margin-bottom: 70px;
}

.team-profile {
    max-width: 764px;
    display: flex;
    gap: 70px 150px;
    flex-wrap: wrap;
}



@media (max-width: 1019px) {
    .team-container {
        padding: 100px 0;
        margin: 0 auto;
        /* transition: all .5s ease-in-out; */
    }
}

@media (max-width: 550px) {
    .profile-description {
        width: 100%;
        display: flex;
        margin: 0 auto;
        text-align: center;
    }
}

